body {
    margin: 0;
    border: 0;

    background-image: url("/src/assets/background.jpg");
    background-size: 100%, cover;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;

    font-family: Marmelad, sans-serif;
    font-size: 2rem;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #565656;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#4094AE, #137DA5, #633796, #CA2C9B, #C367A6, #DA99B1);
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#72c6e0, #45afd7, #9569c8, #fc5ecd, #f599d8, #ff99b1);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background: transparent;
}
